dist: focal
virt: lxd
language: python
matrix:
  include:
  - python: 3.6
    env: TOX_ENV=py36
  - python: 3.7
    env: TOX_ENV=py37
  - python: 3.8
    env: TOX_ENV=py38
install:
- pip install tox
script:
- tox -e flake8
- tox -e $TOX_ENV
