body {
    font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

#page {
    margin: 8px;
    display: flex;  /* use the flex model */
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#svg-container {
    flex: 1;
    border: 1px solid #ccc;     /* width has to be half of SVG_MARGIN */
}

rect.background {
    fill: white;
    cursor: move;
}

g.node rect {
    stroke: #e5e5e5;
    stroke-width: 2px;
    fill: rgba(242,242, 255, 0.54);
    cursor: pointer;
}

g.node text {
    /* fill: black; */
    fill: #295b8c;
    font-size: 15px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
    cursor: pointer;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
    opacity: 0.4;
    marker-end: url(#end-arrow);
}

.commitish input {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.commit-ref {
    font-weight: bold;
    color: #26894d;
}
