.d3-tip {
    line-height: 1;
    padding: 5px;
    background: rgba(247, 251, 252, 0.9);
    font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    border-radius: 2px;
    pointer-events: none;
    border: 1px solid #e5e5e5;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

.d3-tip p.commit-title {
    font-weight: bold;
    color: #4e575b;
    font-size: 15px;
    margin: 0.5em 0;
}

.d3-tip .commit-describe {
    font-size: 12px;
    margin: 0.5em 0;
}

.d3-tip .commit-meta {
    color: #979a9c;
    font-size: 11px;
}

.d3-tip .commit-body pre {
    color: #596063;
    margin: 0.5em 0;
    /* padding-left: 8px; */
    /* border-left: 1px solid #e5e5e5; */
}
